ro ramdisk_size=40000 rd.dasd=0.0.XXXX rd.dasd=0.0.YYYY rd.dasd=0.0.ZZZZ rd.dasd=0.0.ABCD rd.znet=qeth,0.0.c000,0.0.c001,0.0.c002,layer2=1,portno=0,portname=OSAPORT vlan=VLAN_ID:enccw0.0.c000 ip=10.10.10.10::10.10.10.1:255.255.255.0:zkvm_1:VLAN_ID:none LANG=en_US.UTF-8 vconsole.keymap=us inst.repo=ftp://anonymous:me@10.10.10.2/zKVM/1.1.3/MAIN inst.auto=ftp://anonymous:me@10.10.10.2/zKVM/1.1.3/MAIN/zkvm_1-kickstart.cfg
